extends ../layout

block content

    .container
      .row
        .col-md-12
          .well
            ul.nav.nav-pills
              li.active
                a(data-toggle='pill', href='#tabVideos') Vidéos
              li
                a(data-toggle='pill', href='#tabUtilisateurs') Utilisateurs
              li
                a(data-toggle='pill', href='#tabFavoris') Favoris
            br
            .tab-content
              #tabVideos.tab-pane.fade.in.active
                - var lgvideos = videos.length;
                - var ivideos = 0;
                  if lgvideos == 0
                    p Aucune vidéo :/
                  else
                    ul
                    while ivideos < lgvideos
                      li
                        a(href="/administration/video/"+videos[ivideos].IdVideo) #{videos[ivideos].NomEmission}
                      - ivideos = ivideos + 1
              #tabUtilisateurs.tab-pane.fade
                - var lgutilisateurs = utilisateurs.length;
                - var iutilisateurs = 0;
                  if lgutilisateurs == 0
                    p Aucune vidéo :/
                  else
                    ul
                    while iutilisateurs < lgutilisateurs
                      li
                        a(href="/administration/utilisateur/"+utilisateurs[iutilisateurs].Login) #{utilisateurs[iutilisateurs].Login}
                      - iutilisateurs = iutilisateurs + 1
              #tabFavoris.tab-pane.fade
                - var lgfavoris = favoris.length;
                - var ifavoris = 0;
                  if lgfavoris == 0
                    p Aucune vidéo :/
                  else
                    ul
                    while ifavoris < lgfavoris
                      li
                        | #{favoris[ifavoris].Login} aime la vidéo #{favoris[ifavoris].IdVideo}
                        form(role='form', action='/admin/deleteFavori/' + favoris[ifavoris].Login + "/" + favoris[ifavoris].IdVideo, method='post', enctype='plain', onsubmit="return confirm('Voulez vous vraiment supprimer ce de favori ?');")
                          button.btn.btn-large.btn-danger(type='submit') Supprimer le favori !
                      - ifavoris = ifavoris + 1
