extends layout

block content
  .container
    .well
      .row
        .col-md-12
          h1
            | Cette page n'est pas disponible mais promis tout le reste marche !
      .row
        .col-md-12
          img.img-responsive(src='images/404.jpg')
