extends layout

block content
  script(src='/javascripts/affichage.js')

  a(href='/')
    h1= title

  #co.co-container-centered
    .well
      .pull-right
        a.button.croix(href="javascript:visibilite('co');")
          | X
      br
      br
      form(class='login', action='/connexion', method='post')
        input(type='text', name='Login' class='form-control', placeholder="Nom d'utilisateur",required, autofocus)
        br
        input(type='password', name='Mdp' class='form-control', placeholder="Mot de passe", required)
        br
        button.btn.btn-lg.btn-success.btn-block(type='submit') Se connecter

  -var lg = video.length;
  -var i = 0;
    if lg >= 1
      while i < lg
        .container
          .row
            .col-md-4
            .col-md-4
              iframe(align='middle', src="https://www.youtube.com/embed/"+video[i].IdVideo, frameborder='0', allowfullscreen='')
              h2
                | #{video[i].NomEmission}
              h3
                | #{video[i].Description}
              br
              | Categorie: #{video[i].Categorie}
        br
        - i= i +1
