extends layout

block content


  #co.co-container-centered
    .well
      .pull-right
        a.button.croix(href="javascript:visibilite('co');")
          | X
      br
      br
      form(class='login', action='/connexion', method='post')
        input(type='text', name='Login' class='form-control', placeholder="Nom d'utilisateur",required, autofocus)
        br
        input(type='password', name='Mdp' class='form-control', placeholder="Mot de passe", required)
        br
        button.btn.btn-lg.btn-success.btn-block(type='submit') Se connecter

  .container
    .row
      .col-md-2
          - var lgc = categories.length;
          - var ic = 0;
          h2 Liste des catégories
          ul.nav.nav-pills.nav-stacked
            li.active(role='presentation')
              a(href='/') Toutes
            while ic < lgc
              li(role='presentation')
                a(href='/categorie/'+categories[ic]) #{categories[ic]}
              - ic = ic + 1;
      .col-md-10
        - var lg = video.length;
        - var i = 0;
          if lg >= 1
            while i < lg
              a(href="/video/"+video[i].IdVideo)
                .center
                  img#img_accueil(src="http://img.youtube.com/vi/"+video[i].IdVideo+"/0.jpg")
                  h2
                    | #{video[i].NomEmission}
                  h3
                    | #{video[i].Description}
                  br
                  | Categorie: #{video[i].Categorie}
                  br
                  - i = i + 1
