extends layout

block content

  #co.co-container-centered
    .well
      .pull-right
        a.button.croix(href="javascript:visibilite('co');")
          | X
      br
      br
      form(class='login', action='/connexion', method='post')
        input(type='text', name='Login' class='form-control', placeholder="Nom d'utilisateur",required, autofocus)
        br
        input(type='password', name='Mdp' class='form-control', placeholder="Mot de passe", required)
        br
        button.btn.btn-lg.btn-success.btn-block(type='submit') Se connecter

  .container
    .row
      .col-md-12
        - var lg = video.length;
        - var i = 0;
          .row
            h2 Toutes vos vidéos favorites
            if video.length == 0
              p Aucune vidéo recommandée :/
            else
              while i < lg
                .col-lg-4.col-md-6.col-sm-12
                  .well
                    a(href="/video/"+video[i].IdVideo)
                      .center
                        img#img_accueil(src="http://img.youtube.com/vi/"+video[i].IdVideo+"/0.jpg")
                        h2
                          | #{video[i].NomEmission}
                        h3
                          | #{video[i].Description}
                        br
                        | Categorie: #{video[i].Categorie}
                      br
                      br
                - i = i + 1
