extends layout

block content
  .container-fluid
    if(res)
      - var lg = res.length;
      - var i = 0;
        if lg >= 1
            while i < lg
              if i%4 == 0
                .row
              .col-lg-3.col-md-6.col-sm-12
                .well
                  a(href="/video/"+res[i].Idres)
                    .center
                      img#img_accueil(src="http://img.youtube.com/vi/"+res[i].IdVideo +"/0.jpg")
                      h2
                        | #{res[i].NomEmission}
                      h3
                        | #{res[i].Description}
                      br
                      | Categorie: #{res[i].Categorie}
                    br
                    br
              - i = i + 1
